<div class="container">
  <div class="row">
    <div class="col">
      <div class="card my-5 shadow">
        <div class="card-body">
          <% if @projects.present? %>
            <h2>Listing Projects</h2>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <% @projects.each do |project| %>
                  <tr>
                    <td> <%= project.name %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <h3>Projects not available</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>